<div class="menu">
  <ul>
    <%= link_to root_path do %><li>Лента</li><% end %>
    <%= link_to new_post_path do %><li class="clicked">Создать пост</li><% end %>
    <%= link_to edit_user_path(@current_user) do %><li>Профиль</li><% end %>
    <%= link_to session_path(@current_user), method: :delete do %><li>Выход</li><% end %>
    <%= link_to task_index_path do %><li>Задания 6,7</li><% end %>
  </ul>
</div>

<div class="content">
  <div class="action-name">
    <h2>Новый пост</h2>
  </div>

  <div class="form">
    <%= form_with model: @post, url: "/post", html: {class: "post-form"} do |f| %>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <div class="label">
        <%= f.label :name, "Заголовок" %>
      </div>
      <div class="title">
        <%= f.text_field :name, class: "input" %>
      </div>
      <div class="post-area">
        <%= f.text_area :text, class: "post-text", placeholder: "Текст поста" %>
      </div>
      <div>
        <%= f.submit "Создать", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
